h1{
    font-family: Biz UDMincho;
    font-size:100px;
    font-variant: small-caps;
    color: white;
    font-weight: 100;
    margin:0;
    padding-top:20px;
    text-align: center;
}
body{
    background-color: black;
}
p{
    color: white;
    font-weight: 100;
    text-align: center;
}
#pic {
          text-align: center;
          margin-top: 100px;
          border: 3px solid white;
          
     }
#under{
          font-size: 30px;
          font-weight: 300;
}